section.other
    .other__wrapper
        h3.other__title Другие наши работы
        
        .other__list
            ul.other__list-wrapper
                +otherItem('other-1', '#', 'НБКИ', 'Сайт компании, сопровождающей услуги банкротства', '')
                +otherItem('other-1', '#', 'НБКИ', 'Сайт компании, сопровождающей услуги банкротства', '')
                +otherItem('other-1', '#', 'НБКИ', 'Сайт компании, сопровождающей услуги банкротства', '')
                +otherItem('other-1', '#', 'НБКИ', 'Сайт компании, сопровождающей услуги банкротства', '')
