section.other
    .other__wrapper
        h3.other__title Другие наши работы
        
        ul.other__list
            +otherItem('other-1', '#', 'НБКИ', 'Сайт компании, сопровождающей услуги банкротства', '')
            +otherItem('other-1', '#', 'НБКИ', 'Сайт компании, сопровождающей услуги банкротства', '')
            +otherItem('other-1', '#', 'НБКИ', 'Сайт компании, сопровождающей услуги банкротства', '')
            +otherItem('other-1', '#', 'НБКИ', 'Сайт компании, сопровождающей услуги банкротства', '')
