include ../helpers/mixins
block variables

doctype html
html(lang="ru-RU")
	head
		meta(charset="utf-8")
		title #{title}
		<!--[if IE]>
		meta(http-equiv='X-UA-Compatible', content="IE = edge")
		<![endif]-->
		meta(name="viewport" content="width=device-width,initial-scale=1")
		meta(name="keywords" content="")
		link(rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/all.css" integrity="sha384-mzrmE5qonljUremFsqc01SB46JvROS7bZs3IO2EmfFsd15uHvIt+Y8vEf7N7fWAU" crossorigin="anonymous")
		link(rel="stylesheet" type='text/css' href="static/css/styles.css")
	body.body
		main.main
			form.form
				h3.form__title Subscribe form
				p.form__description just to be always on time
				ul.form__list
					li.form__item
						label(for="number").form__label Enter ID
						input(type="number" name="number" id="number").form__input
						button(type="submit").form__submit Send
		script(src="static/js/vendor/jquery-3.3.1.min.js")
		script(src="static/js/main.js")
		script(src="static/js/test.js")
		block script
